body {
  text-align:  center;
  background-image: linear-gradient(to bottom right, green, yellow);
}

h1 {
  font-size: 2.5em;
  color: red;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

p {
  font-size: 1.3em
}

button {
  font-size: 1.4em;
  padding: 0.1em 0em 0.3em 0.4em;
}

.topic {
  color: purple;
  font-size: 1.8em;
  background: burlywood;
  padding: 1em;
  max-width: 85%
}

.hype {
  font-size: 2em;
  font-family: monospace;
  color: white;
  letter-spacing: 0.2em;
  animation-name: colors;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  padding: 0.5em 0.5em 0.2em 0.3em;
  text-decoration: underline;
}

@keyframes colors {
  0%   {background-color:red}
  25%  {background-color:yellow}
  50%  {background-color:blue}
  75%  {background-color:green}
  100% {background-color:red}
}

.author{
  margin: 10px 0px 0px 10px;
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  color: hotpink;
}

@keyframes spin {
  50% {transform: rotateX(150deg)};
  75% {transform: rotateX(250deg)};
  100%{transform: rotateX(0deg)};
}
